/*
    Orden sugerido en aplicacion de estilos

    1.Posicionamiento
    2.modelo de caja (box model)
    3.tipografia
    4.Visuales
    5. Otros
*/

:root {
    /*colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}

header img {
    width: 151px;
    height: 24px;
    margin-top: 40px;
    align-self: center;
}

.header--title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
    
}

.header--title-container h1 {
    
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    text-align: center;
    color: var(--just-white);
    
}

.header--title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    text-align: center;
    color: var(--soft-orange);
}

.header--title-container .header--button {
    position: absolute;
    top: 270px;
    left: calc(50% - 114.5px);
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    border: none;
    border-radius: 4px;
    /* sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);    

}

.header--button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 14px;
    background-image: url('./assets/icons/down.svg');
    
}

main {
    width: 100%;
    height: auto;
    min-width: 320px;
    background-color: var(--off-white);
}



.main--exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}

.main--exchange-container-title {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}

.main--exchange-container .backgroundImg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background: url(./assets/imgs/bitcoin.svg) center/cover no-repeat;   
}

.main--exchange-container-title h2 {
    margin-bottom: 24px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 2.6rem;
    text-align: center;
    color: var(--warm-black);
}

.main--exchange-container-title p {
    margin-bottom: 30px;
    font-size: 1.4rem;
    font-weight: 500;    
    line-height: 1.8rem;
    color: #757575

}

/* tabla 1 */

.main--currency-table , 
.main--commissions-table {
    width: 70%;
    min-width: 235px;
    max-width: 500px;
    height: 360px;
    margin: 0 auto;
    font-family: "Inter", sans-serif;
}

.main--currency-table .currency-table--title,
.main--commissions-table .commissions-table--title {
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.3rem;
    text-align: left;
    margin-left: 28px;
    font-family: "DM Sans", sans-serif;
    color: #FF9536;

}

.main--commissions-table .commissions-table--title {
    color: var(--secondary-blue);
}

.currency-table--container, 
.commissions-table--container {
    width: 90%;
    min-width: 230px;
    max-width: 300px;
    height: 250px;
    margin: 0 auto;

}
 
.currency-table--container table,
.commissions-table--container table {
    width: 100%;
    height: 100%;
}

.currency-table--container td,
 .commissions-table--container td {
    width: 50%;
    height: 39px;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.9rem;
    color: var(--grey);
    background-color: var(--just-white);
}

.currency-table--container .table__top-left,
.commissions-table--container .table__top-left {
    border-radius: 15px 0 0 0;
}

.currency-table--container .table__top-right, 
.commissions-table--container .table__top-right {
    border-radius: 0 15px 0 0;
}

.currency-table--container .table__bottom-left,
.commissions-table--container .table__bottom-left  {
    border-radius: 0 0 0 15px ;
}

.currency-table--container .table__bottom-right,
.commissions-table--container .table__bottom-right {
    border-radius: 0 0 15px 0 ;
}  

.currency-table--container .table-left, 
.commissions-table--container .table-left {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: #B5B0AC;
    text-align: left;
    padding-left: 12px;
}

.currency-table--container .table-right {
    font-size: 1.4rem;
    font-style: normal;
    list-style: 1.7rem;
    color: #757575;
}

.currency-table--container .down {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 11px;
    background: url('./assets/icons/trending-down.svg.svg') center/cover no-repeat;
}

.currency-table--container .up {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-left: 11px;
    background: url('./assets/icons/trending-up.svg.svg') center/cover no-repeat;
}

.currency-table--date, 
.commissions-table--date {
    
    width: 173px;
    height: 31px;
    margin: 16px auto; 
    border-radius: 8px;
    background-color: var(--soft-orange);
}

.commissions-table--date {
    background-color: var(--soft-blue);
}

.currency-table--date p,
.commissions-table--date p {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    padding: 8px;
    color: var(--warm-black);
}



